h2.center-line {
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    padding: 0 0 20px;
}

h2.center-line:after {
    content: '';
    position: absolute;
    width: 90px;
    height: 1px;
    background: #1C1C1C;
    bottom: 0;
    left: calc(50% - 45px);
}

h2.left-line {
    margin: 0 0 30px;
}

h2.left-line span {
    width: 90px;
    height: 1px;
    background: #1C1C1C;
    display: inline-block;
}

.title {
    padding: 50px 0 50px;
}

.title h2.left-line {
    margin: 0;
}

.title p {
    margin: 0;
    color: #1C1C1C;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}

.link {
    font-size: 14px;
    color: #344A71;
    margin: 0;
    text-decoration: none;
    font-weight: 600;
}

.grey-bg {
    background: #F1F1F1;
}

.blue-bg {
    background: #344A71;
}

.speciality-section {
    padding: 50px 0;
}

.speciality-section h2 {
    margin-bottom: 40px;
}

.speciality-section .special-wrap {
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    margin: 0 0 30px;
    position: relative;
    z-index: 1;
    padding: 25px;
}

.speciality-section .special-wrap:before {
    content: '';
    position: absolute;
    height: 25%;
    width: 100%;
    background: #344A71;
    z-index: -1;
    top: 0;
    left: 0;
}

.speciality-section .special-wrap h4 {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    margin: 20px 0;
}

.speciality-section .special-wrap p {
    margin: 0 0 20px;
}

.speciality-section .slick-prev,
.speciality-section .slick-next {
    display: none !important;
}

/* Margin */
.mb-40 {
    margin-bottom: 40px !important;
}

/*** MEDIA QUERIES ***/
@media (min-width: 768px) {
    .title p {
        font-size: 20px;
        line-height: 1.6;
    }

    .speciality-section h2 {
        margin-bottom: 70px;
    }

    .speciality-section .special-wrap {
        margin-right: 20px;
    }
}

@media (min-width: 992px) {
    .title p {
        text-align: left;
    }
}

@media (min-width: 1200px) {
    .speciality-section .special-wrap {
        min-height: 505px;
    }
}