@import url("global.css");
@import url("wedding.css");

body {
  font-family: "Open Sans", sans-serif;
}

/* Button */
.btn.btn-primary {
  background: #344a71;
  border: 1px solid #344a71;
  text-transform: uppercase;
  font-size: 14px;
  margin: 0 20px 35px 0;
  padding: 8px 15px;
  border-radius: 6px;
}

h2.heading {
  font-size: 30px;
  line-height: 1.4;
  color: #1c1c1c;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  position: relative;
}

@media (min-width: 992px) {
  h2.heading {
    font-size: 48px;
  }
}

h2.heading:after {
  content: "";
  position: absolute;
  width: 65px;
  height: 1px;
  background: #a5a5a5;
  bottom: -3px;
  left: 0;
}

h2.heading.left-line:after {
  display: none;
}

h2.heading.left-line span {
  width: 90px;
  height: 1px;
  background: #1c1c1c;
  display: inline-block;
}

h2.heading.center-line {
  margin: 0 0 30px;
  position: relative;
  text-align: center;
  padding: 0 0 20px;
}

h2.heading.center-line:after {
  left: calc(50% - 45px);
}

.sub-heading {
  font-size: 1rem;
  text-align: center;
  color: #4c4c4c;
}

@media (min-width: 992px) {
  .sub-heading {
    font-size: 1.5rem;
    text-align: left;
  }
}

/* cards */
.card-secondary .card-body {
  margin: -72px 22px 16px;
  background: #fff;
  box-shadow: 1px 5px 10px #e7e7e7;
}

/* top header */
.header-top {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  color: #4c4c4c;
  background-color: #fff;
  text-transform: uppercase;
}

.header-top a {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  display: flex;
  align-items: center;
}

.header-top a img {
  margin-right: 0.3rem;
}

.header-top a.home img {
  position: relative;
  top: -1px;
}

.header-top .social-media {
  margin-left: 0.6rem;
}

.header-top .social-media a {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
}

.header-top .social-media a img {
  margin-right: 0;
}

/* main header */
.main-header {
  background-color: #344a71;
  height: 72px;
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .main-header {
    height: 104px;
  }
}

.main-header nav a {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-left: 1.4rem;
}

@media (min-width: 1200px) {
  .main-header nav a {
    margin-left: 1.7rem;
  }
}

.navbar-toggler-icon {
  background-image: url("../images/icons/menu.svg");
  width: 40px;
  height: 40px;
}

@media (min-width: 992px) {
  .navbar-toggler {
    margin-right: 2.1rem;
  }
}

.navbar-brand img {
  width: 75px;
}

@media (min-width: 992px) {
  .navbar-brand img {
    width: 112px;
  }
}

/* offcanvas menu */
.offcanvas {
  background-color: #344a71;
}

.offcanvas.offcanvas-start {
  width: 100%;
}

.offcanvas-header {
  padding: 0;
  height: 72px;
  border-bottom: 1px solid #5a6c8b;
}

@media (min-width: 992px) {
  .offcanvas-header {
    padding: 0;
    height: 162px;
  }
}

@media (min-width: 992px) {
  .offcanvas-header .navbar-brand img {
    width: 140px;
  }
}

.offcanvas-header .btn-close {
  background-size: 20px;
  width: 20px;
  height: 20px;
}

@media (min-width: 992px) {
  .offcanvas-header .btn-close {
    position: absolute;
    left: 22px;
    top: 26px;
    background-size: 30px;
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 992px) {
  .offcanvas-body {
    padding-top: 5.1rem;
  }
}

.offcanvas-body a {
  text-decoration: none;
  color: #fff;
}

.offcanvas-body ul,
.offcanvas-body h5 {
  margin-bottom: 1.5rem;
}

.offcanvas-body h5 {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .offcanvas-body h5 {
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }
}

.offcanvas-body ul {
  margin-top: -0.5rem;
}

@media (min-width: 992px) {
  .offcanvas-body ul {
    margin-top: 0;
  }
}

.offcanvas-body li {
  padding-left: 20px;
  position: relative;
}

@media (min-width: 992px) {
  .offcanvas-body li {
    font-size: 1.4rem;
  }
}

.offcanvas-body li::before {
  content: "_";
  position: absolute;
  width: 20px;
  color: #fff;
  left: 0;
  top: 1px;
}

/* Footer */

.main-footer {
  font-size: 0.9rem;
  background-color: #344a71;
  color: #fff;
  padding-top: 2.3rem;
}

.main-footer a,
.main-footer h5,
.main-footer .accordion-header button {
  color: #fff;
}

.main-footer h2 button,
.main-footer h5 {
  font-size: 1.25rem;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
}

.main-footer h5 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  margin-top: 1rem;
}

@media (min-width: 992px) {
  .footer-parent-row {
    flex-direction: row-reverse;
  }
}

#footerAccordion .accordion-button {
  background-color: transparent;
  box-shadow: none;
}

@media (min-width: 992px) {
  #footerAccordion .accordion-button {
    pointer-events: none;
  }
}

@media (min-width: 992px) {
  #footerAccordion .accordion-button::after {
    display: none;
  }
}

@media (min-width: 992px) {
  #footerAccordion .accordion-collapse {
    display: block;
  }
}

#footerAccordion .accordion-header {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  color: #fff;
}

@media (min-width: 992px) {
  #footerAccordion .accordion-header {
    border: 0;
  }
}

#footerAccordion .accordion-button::after {
  background-image: url("../images/icons/arrow-down.svg");
  position: relative;
  top: 5px;
}

#footerAccordion .accordion-button:not(.collapsed)::after {
  top: -5px;
}

#footerAccordion .accordion-body {
  padding-top: 0;
}

#footerAccordion .accordion-item {
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  background-color: #344a71;
  border-bottom-width: 0;
}

@media (min-width: 992px) {
  #footerAccordion .accordion-item {
    border: 0;
  }
}

.input-wrapper {
  position: relative;
  margin-bottom: 1.4rem;
}

.input-wrapper::after {
  content: "";
  position: absolute;
  right: 13px;
  top: 13px;
  background-image: url(../images/icons/input-arrow.svg);
  width: 18px;
  height: 18px;
}

#footerAccordion .last-accordion {
  border-bottom-width: 1px;
}

#footerAccordion input {
  height: 44px;
  background: #485c7f;
  border: 0;
  box-shadow: none;
  color: #fff;
  padding-right: 42px;
}

/* slider */
.slider-box h4 {
  font-size: 24px;
  line-height: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px 0;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin: 0;
}

.slick-disabled {
  opacity: 0.5;
  pointer-events: none;
}
.slick-prev,
.slick-next {
  color: #fff;
  border: 0;
  margin: 0 5px 0 0;
  background: #1c1c1c;
}
.slick-nav .line {
  height: 4px;
  border-bottom: 1px solid rgba(97, 97, 97, 0.5);
  position: relative;
  width: calc(100% - 100px);
}
.slick-nav .line:after {
  content: "";
  height: 2px;
  background: rgba(97, 97, 97, 0.5);
  position: absolute;
  width: 90%;
  left: 0;
  top: 2px;
}

.slick-dots {
  bottom: -45px;
  width: 100%;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 10px;
  height: 10px;
  content: "";
  text-align: center;
  border: 1px solid #1c1c1c;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background: #1c1c1c;
}

/* banner */
.banner .col {
  height: 230px;
  background-color: #1c1c1c;
}

@media (min-width: 992px) {
  .banner .col {
    height: 650px;
  }
}

.banner video {
  width: 100%;
  height: 230px;
}

@media (min-width: 992px) {
  .banner video {
    height: 650px;
  }
}

/* book-direct-offer */
.book-direct-offer {
  padding: 23px 0;
  background: #fff;
}

@media (min-width: 992px) {
  .book-direct-offer {
    padding: 35px;
    position: relative;
    top: -26px;
    box-shadow: 1px 8px 10px #f3f3f3;
  }
}

@media (min-width: 1200px) {
  .book-direct-offer {
    padding: 55px;
  }
}

.book-direct-offer .left h2 {
  margin-bottom: 1.4rem;
}

@media (min-width: 992px) {
  .book-direct-offer .left h2 {
    margin-bottom: 2.5rem;
  }
}

.book-direct-offer .left p {
  margin-bottom: 1.6rem;
}

@media (min-width: 992px) {
  .book-direct-offer .left p {
    margin-bottom: 2.5rem;
  }
}

.book-direct-offer .left a {
  color: #344a71;
  text-decoration: none;
  font-weight: 600;
}

.book-direct-offer .left .btn-primary {
  margin-top: 2.2rem;
  width: 100%;
}

/* book direct offer form */

@media (min-width: 1200px) {
  .book-direct-offer .form {
    padding-left: 4rem;
  }
}

.book-direct-offer label {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #4c4c4c;
  margin-bottom: 0;
}

.book-direct-offer .mb-4 {
  margin-bottom: 2.3rem !important;
}

.book-direct-offer .form .form-control,
.book-direct-offer .form .dropdown-toggle {
  font-size: 18px;
  font-weight: 400;
  color: #1c1c1c;
  border: 0;
  border-bottom: 1px solid #ebebeb;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.book-direct-offer .form .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-direct-offer .form .form-input {
  position: relative;
}

.book-direct-offer .form .dropdown-toggle::after,
.book-direct-offer .form .form-input::after {
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  background-image: url("../images/icons/chevron-down.svg");
  border: 0;
  width: 12px;
  height: 7px;
}

.book-direct-offer .form .form-input.no-arrow::after {
  display: none;
}

.book-direct-offer .form .form-input::after {
  position: absolute;
  right: 0;
  top: 21px;
}

.guest .dropdown {
  flex: 1;
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check .form-check-input {
  width: 2.5rem;
  height: 2.3rem;
  margin-top: 0;
}

.form-check-input:checked {
  background-color: #344a71;
  border-color: #344a71;
}

.book-direct-offer .btn.btn-primary {
  background: #344a71;
  border: 1px solid #344a71;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 6px;
  color: #fff;
}

/* dine and drink */
.drink-and-dine {
  overflow: hidden;
}

@media (min-width: 1200px) {
  .drink-and-dine {
    background: url("../images/texture-01.svg") no-repeat;
    background-position: 0 -73px;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.drink-and-dine-slider {
  margin-top: 2rem;
}

/* .drink-and-dine .title p{
  margin-left: 20px;
} */

.drink-and-dine .slider-box h4 {
  border-bottom: 1px solid rgba(97, 97, 97, 0.5);
}

.drink-and-dine .slider-box p {
  color: #4c4c4c;
}

.drink-and-dine .slider-box p.sub-details {
  margin: 0;
  padding: 9px 0 0;
  color: #1c1c1c;
  font-size: 1rem;
}

.drink-and-dine .slider-box p.sub-details small {
  font-size: 1rem;
}

.drink-and-dine .slider-box p.sub-details {
  margin-bottom: 15px;
}

.drink-and-dine .link {
  font-size: 14px;
  color: #344a71;
  margin: 0;
  text-decoration: none;
  font-weight: 600;
}

.drink-and-dine .slider-box {
 padding-bottom: 50px;
}

@media (min-width: 1200px) {
  .drink-and-dine .slider-box {
    margin: 0 50px 0 0;
  }
}

@media (min-width: 1200px) {
  .drink-and-dine .slick-list {
    overflow: visible;
  }
}
